.wrapper {
    width: 60%;
}

.title {
    padding: 10px;
    margin: 0;
    background: #000;
    color: #fff;
}

.user-info {
    padding: 20px 0;
    font-weight: 700;
    background: #505050;
    color: #d0d0d0;
    line-height: 30px;
    padding: 10px 0 45px 0;
}

.user-info span,
.user-info label>span {
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
}

.input {
    margin: 10px 0;   
}

.input input {
    background: #d0d0d0;
}

.check {
    text-align: center;
}

.custom-btn {
    background: #000;
    color: #fff;
    border: 1px solid #000!important;
}

.save-btn {
    margin-bottom: 10px!important;
}

.custom-btn:hover,
.custom-btn:focus {
    background: maroon;
    color: #fff!important;
    outline: 0!important;
    border: 0!important;
    box-shadow: none!important;
    border: 1px solid maroon!important;
}

.custom-select {
    background: #000!important;
    border: none!important;
    color: #d0d0d0!important;
}

.custom-select:focus {
    box-shadow: none!important;
}

.tasks {
    color: #fff;
}

.tasks th {
    color: #505050;
    text-align: center;
}

.priority input[type = 'radio']{
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: top;
}

.priority input[type = 'radio']:checked + label{
    color: #fff;
}

.text-state {
    font-size: 16px;
}

.do-it {
    color: #fff;
}

.do-it.high {
    background-color: rgba(255, 0, 0, 1);
}

.do-it.medium {
    background-color: rgba(255, 0, 0, 0.6);
}

.do-it.low {
    background-color: rgba(255, 0, 0, 0.3);
}

.done {
    color: #fff;
}

.done.high {
    background-color: rgba(0, 128, 0, 1);
}

.done.medium {
    background-color: rgba(0, 128, 0, 0.6);
}

.done.low {
    background-color: rgba(0, 128, 0, 0.3);
}
.remove-btn {
    text-align: center;
}