<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app='myApplication'>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>

        <script>
            //Create model
            var model = {
                user: 'Mila',
                tasks: [{name: 'to do sth - 1', passed: false},
                    {name: 'to do sth - 2', passed: false},
                    {name: 'to do sth - 3', passed: false}
                ]
            };
            
            function say ( i ) { console.log('i am '+i) }
            //Create module

            angular.module('m1', []).run( function () { say(1) });
            angular.module('m2', ['m3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9']).run( function () { say(2) });
            angular.module('m3', []).run( function () { say(3) });
            angular.module('m4', []).run( function () { say(4) });
            angular.module('m5', []).run( function () { say(5) });
            angular.module('m6', []).run( function () { say(6) });
            angular.module('m7', []).run( function () { say(7) });
            angular.module('m8', []).run( function () { say(8) });
            angular.module('m9', [])
                .run( function () { say(9) })
                .service('myService', function(){
                    
                    console.log('I am created = myService');
            
                    return {
                        say: function showMsg(){
                            console.log('myService say', arguments);
                        }
                    };    
                });
            
            
            angular
                .module('myApplication', ['m1','m2', 'm9'])

            //Create controller
                .controller('myAppCtrl', function ($scope, $log, $http, $window, myService) {
                
//                console.log(arguments);
        
                myService.say(arguments);
                
                $scope.data = model;

                $scope.addNewUser = function(){
                    $scope.data.user = $scope.userName;                 
                };

                $scope.addNewTask = function () {
                    $scope.data.tasks.push({
                        name: $scope.taskName,
                        passed: 'No'
                    });
                    $scope.taskName = '';
                };

                $scope.showText = function (passed) {
                    return passed ? 'Yes' : 'No';
                };

                $scope.setStyle = function (passed) {
                    return passed ? "color:green; background: lightgreen" : 'color:#fff; background:maroon';
                };
            });

        </script>
    </head>
    <body ng-controller="myAppCtrl">
        <div class="center-block wrapper">
            <header class="panel-default container-fluid">
                <div class="row">
                    <h1 class="text-center title">Sheduler List</h1>
                    <div class="user-info">
                        <div class="col-md-6">User: {{data.user}}</div>
                        <div class="col-md-6">Number of tasks: {{data.tasks.length}}</div>
                    </div>
                </div>
            </header>

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>State</th>
                    </tr>
                </thead>

                <tr ng-repeat="task in data.tasks" style='{{setStyle(task.passed)}}'>
                    <td>{{task.name}}</td>
                    <td>
                        <input type='checkbox' ng-model='task.passed' autocomplete="off"/>
                    </td>
                    <td>
                        <span style='{{setStyle(task.passed)}}'>
                            {{showText(task.passed)}}
                        </span>
                    </td>
                </tr>
            </table>

            <div class="input-group input">
                <input type="text" class="form-control" ng-model='userName'/>
                <span class="input-group-btn">
                    <button type="submit" class="btn custom-btn" ng-click='addNewUser()'>Add User</button>
                </span>
            </div>
            
            <div class="input-group input">
                <input type="text" class="form-control" ng-model='taskName'/>
                <span class="input-group-btn">
                    <button type="submit" class="btn custom-btn" ng-click='addNewTask()'>Add Task</button>
                </span>
            </div>
        </div>

    </body>
</html>
