<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app='myApplication'>
    <head>
        <title>Sheduler List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
        <script src="app.js"></script>
        <script src="controller.js"></script>
        <script src="models.js"></script>
    </head>
    
    <body ng-controller="myAppCtrl">
        <div class="center-block wrapper">
            <header class="panel-default container-fluid">
                <div class="row">
                    <h1 class="text-center title">Sheduler List</h1>
                    <div class="user-info">
                        <div class="col-md-4">User: <span>{{data.user}}</span></div>
                        <div class="col-md-4">Number of tasks: <span>{{data.tasks.length}}</span></div>
                        <div class="col-md-4">Date: <span>{{setDate()}}</span></div>
                    </div>
                </div>
            </header>

            <table class="table table-bordered tasks" id="tasks">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Priority</th>
                        <th colspan="2">State</th> 
                        <th>Remove Task</th>                        
                    </tr>
                </thead>

                <tr ng-repeat="task in tasks" ng-class="task.passed ? 'done' : 'do-it'">                    
                    <td>{{task.name}}</td>
                    <td class="priority">
                        <input type="radio" name="importance" value="1" id="high" /><label for="high">High</label>
                        <input type="radio" name="importance" value="2" id="medium" /><label for="medium">Medium</label>
                        <input type="radio" name="importance" value="3" id="low" /><label for="low">Low</label>
                    </td>
                    <td class="check">
                        <input type='checkbox' ng-model='task.passed' autocomplete="off"/>
                    </td>
                    <td class="text-state">
                        <span ng-class="task.passed ? 'done' : 'do-it'">
                            {{task.passed ? 'Done!' : 'Do it!'}}
                        </span>
                    </td>
                    <td class='remove-btn'>
                        <button type="submit" class="btn custom-btn" ng-click="removeTask( task );">Remove Task</button>              
                    </td>
                </tr>
            </table>

            <div class="input-group input">
                <input type="" class="form-control" ng-model='userName'/>
                <span class="input-group-btn">
                    <button type="submit" class="btn custom-btn" ng-click='addNewUser()'>Add User</button>
                </span>
            </div>

            <div class="input-group input">
                <input type="text" class="form-control taskInput" ng-model='taskName' autocomplete="off"/>
                <span class="input-group-btn">
                    <button type="submit" class="btn custom-btn" ng-click='addTask()'>Add Task</button>
                </span>
            </div>

            
        </div>

    </body>
</html>
