.wrapper {
    width: 60%;
}

.title {
    padding: 10px;
    margin: 0;
    background: #000;
    color: #fff;
}

.user-info {
    padding: 20px 0;
    font-weight: 700;
    background: #505050;
    color: #d0d0d0;
    height: 30px;
    line-height: 0px;
}

.user-info span {
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
}

.input {
    margin: 10px 0;   
}

.input input {
    background: #d0d0d0;
}

.check {
    text-align: center;
}

.custom-btn {
    background: #000;
    color: #fff;
}

.custom-btn:hover,
.custom-btn:focus {
    background: maroon;
    color: #fff!important;
    outline: 0!important;
    border: 0!important;
    box-shadow: none!important;
}

.tasks {
    color: #fff;
}

.tasks th {
    color: #505050;
}

.priority {
    color: #d0d0d0;
}

.priority input[type = 'radio']{
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: top;
}

.priority input[type = 'radio']:checked + label{
    color: #fff;
}

.text-state {
    font-size: 16px;
}
